{% extends 'my_system/my_user/index_user.html' %}
{% block title %}View Ticket{% endblock %}
{% block head %}
    <style>
        .ticket {
            background-color: #ff9352;
        }

        .here {
            background-color: white;
            opacity: 0.9;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ticket" style="padding-bottom: 10px;">
        <div class="container" style="padding: 10px;">
            <div class="row rollIn animated wow here" >
                <div class="col"></div>
                <div class="col-lg-8">
                    <h1 style="text-align: center;margin: 10px;font-family: 'Roboto Slab', serif;">Your ticket details
                        are as under</h1>
                </div>
                <div class="col"></div>
            </div>
        </div>
            {% if f == 0 %}
                <div class="container">
                <div class="row here slideInLeft animated wow">
                    <div class="col"></div>
                    <div class="col-lg-6 " style="text-align: center;">
                        <b>You have not booked any tickets</b>
                    </div>
                    <div class="col"></div>
                </div>
                </div>
            {% elif f == 1 %}
                {% for ticket in arr %}
                    <div class="container slideInLeft animated wow">
                    <div class="row here" style="margin-top: 5px;">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Ticket ID : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.id }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Name : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.name }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Address : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.address }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Mobile Number : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.mobileNo }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Email : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.email }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Date of Birth : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.dob }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>From Station : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.from_station }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>To Station : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.to_station }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Date of Journey : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.doj }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Ticket Number : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.ticket_no }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Train Number : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.train_no }}
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row here" style="margin-bottom: 5px;">
                        <div class="col"></div>
                        <div class="col-lg-2">
                            <b>Train Name : </b>
                        </div>
                        <div class="col-lg-4">
                            {{ ticket.train_name }}
                        </div>
                        <div class="col"></div>
                    </div>

                    </div>

                {% endfor %}
            {% endif %}

    </div>
{% endblock %}
